@charset "UTF-8";
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #F2F3F4;
  --sidebar-color: #FFF;
  --primary-color: #3A4E98;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #5C5C5C;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.search-header-karte {
  z-index: 200;
  background: #fff;
}

#nav-left .sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  max-width: 295px;
  padding: 1em 2em;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

#nav-left .sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

#nav-left .sidebar li a .icon {
  min-width: 52px;
  border-radius: 6px;
}

#nav-left .sidebar .text {
  font-size: 1.1em;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  padding-right: 1em;
}

#nav-left .sidebar .icon {
  min-width: 52px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  min-width: 52px;
  border-radius: 6px;
}

#nav-left .sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

#nav-left .sidebar .menu-bar .menu ul li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 35px;
  text-decoration: none;
  transition: var(--tran-03);
}

#nav-left .sidebar .menu-bar .menu ul li a:hover {
  background-color: #f7f7f7;
}

#nav-left .sidebar .menu-bar .menu ul li a:hover .text {
  color: #3A4E98;
}

#nav-left .sidebar .menu-bar .menu ul li a:hover .icon {
  color: #3A4E98;
}

#nav-left .sidebar .menu-bar .menu ul li .karte-add {
  padding: 12px;
  color: #fff;
  background-color: #3A4E98;
  border-radius: 30px;
  margin-left: 0.5em;
}

#nav-left .sidebar .menu-bar .menu ul li .karte-add i {
  text-align: center;
  margin: 0 auto;
  display: flow-root;
}

#nav-left .sidebar .menu-bar .bottom-content {
  display: flex;
  margin-bottom: 2em;
}

#nav-left .sidebar .menu-bar .bottom-content li {
  background: #293255;
  border-radius: 2em;
  color: #fff;
}

#nav-left .sidebar .menu-bar .bottom-content li a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

#nav-left .sidebar .menu-bar .bottom-content li a span {
  font-size: 1em;
}

#nav-left .sidebar .menu-bar .bottom-content .save-color {
  background: #F73859;
  margin-left: 0.4em;
}

#nav-left .sidebar .menu-bar .bottom-content .save-color a span {
  font-size: 1em;
}

#nav-left .close {
  width: 80px;
}

#nav-left .close .text {
  opacity: 0;
}

#nav-left .home {
  /*position: absolute;
        top: 24px;
        left: 295px;
        height: 100vh;
        width: calc(100% - 295px);*/
}

#nav-left .home main {
  padding: 9em 2em 1em;
}

#nav-left .home main #home-menu {
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

#nav-left .home main #home-menu #search_input {
  background-color: #fff;
  padding: 0.7em 1.2em;
  width: 50%;
  border-radius: 3em;
  margin-bottom: 1em;
}

#nav-left .home main #home-menu #table_menu {
  margin-left: auto;
}

#nav-left .home main #home-menu #table_menu span {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5em;
}

#nav-left .home main #home-menu #table_menu #row_count {
  color: #fff;
  background-color: #293255;
  padding: 0.7em 0.8em;
  width: fit-content;
  border-radius: 0.5em 0.5em 0 0;
}

#nav-left .home main #home-menu #table_menu #download {
  padding: 5px;
  height: min-content;
  color: #fff;
  background-color: #3A4E98;
  border-radius: 6px;
  margin-left: auto;
}

#nav-left .home main #home-menu #table_menu #download span {
  display: block;
  font-size: 22px;
}

#nav-left .home .text {
  font-size: 30px;
  font-weight: 500;
  padding: 12px 60px;
}

@media screen and (max-width: 970px) {
  #nav-left .sidebar .menu-bar .menu .menu-links .nav-link a span {
    display: none;
  }
  #nav-left .sidebar .menu-bar .bottom-content li a span {
    display: none;
  }
  #nav-left .home {
    left: 150px;
  }
}

/*モーダル*/
#modal-karte {
  border: 0;
  padding: 0;
  border-radius: 20px;
  max-width: 100%;
}

#modal-karte #modal-karte-button {
  position: absolute;
  top: -60px;
  right: 0;
}

#modal-karte #modal-karte-button button {
  color: #fff;
  padding: 0.7em;
  margin-left: 2px;
  display: inline-flex;
  border-radius: 5em;
}

#modal-karte #modal-karte-button button span {
  width: 25px;
}

#modal-karte #modal-karte-button button img {
  width: 25px;
}

#modal-karte #modal-karte-button .modal-save {
  background: #3A4E98;
}

#modal-karte #modal-karte-button .modal-close {
  background: #3A4E98;
}

#modal-karte #modal-karte-button .modal-phenopackets {
  background: #c4c4c4;
}

#modal-karte .tab-wrap {
  background-color: #fff;
  border-radius: 10px;
}

#modal-karte .tab-wrap ul {
  display: flex;
  background: #F4F4F4;
  color: #3A4E98;
  border-radius: 11px 11px 0 0;
}

#modal-karte .tab-wrap ul .tab-btn-first {
  border-radius: 10px 0 0 0;
}

#modal-karte .tab-wrap ul .tab-btn-last {
  border-radius: 0 10px 0 0;
}

#modal-karte .tab-wrap ul .tab-btn {
  width: 50%;
  padding: 1em 0;
  text-align: center;
  list-style: none;
  cursor: pointer;
}

#modal-karte .tab-wrap ul .tab-btn i {
  font-size: 1em;
}

#modal-karte .tab-wrap ul .show {
  background: #3A4E98;
  border-top: 2px solid #3A4E98;
  color: #fff;
}

#modal-karte .tab-wrap .tab-contents {
  display: none;
  max-height: calc(100vh - 350px);
  overflow-y: scroll;
}

#modal-karte .tab-wrap .show {
  display: block;
  padding: 1em 2em;
}

#modal-karte .tab-wrap .show .form-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}

#modal-karte .tab-wrap .show .form-table tbody tr {
  min-height: 38px;
  z-index: 10;
  transform: translateY(0);
  background: #fff;
  box-shadow: 0 0 0 black;
}

#modal-karte .tab-wrap .show .form-table tbody tr th {
  padding: 0.5em 0 0.5em 0;
  display: table-cell;
  vertical-align: middle;
  background: #fff;
  position: relative;
  font-weight: normal;
  color: #3A4E98;
  border-bottom: solid 1px #EDEDED;
}

#modal-karte .tab-wrap .show .form-table tbody tr th span {
  color: #636463;
}

#modal-karte .tab-wrap .show .form-table tbody tr td {
  background-color: #fff;
  padding: 0.7em 0 0.7em 1em;
  display: table-cell;
  vertical-align: middle;
  border-bottom: solid 1px #EDEDED;
}

#modal-karte .tab-wrap .show .form-table tbody tr td span {
  color: #888888;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .tag {
  display: grid;
  border: solid 1px #B4B9D8;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 0.5em;
  width: fit-content;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .tag span {
  font-size: 0.5em;
  color: #000;
}

#modal-karte .tab-wrap .show .form-table tbody tr td label {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.1em;
}

#modal-karte .tab-wrap .show .form-table tbody tr td label input {
  width: auto;
}

#modal-karte .tab-wrap .show .form-table tbody tr td textarea {
  width: 100%;
  height: auto;
  padding: 0.5em 0.3em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
}

#modal-karte .tab-wrap .show .form-table tbody tr td select {
  padding: 0.35em 1em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  appearance: button;
}

#modal-karte .tab-wrap .show .form-table tbody tr td input {
  width: 100%;
  padding: 0.5em 1em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .input-top {
  margin-top: 0.5em;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .birth_year {
  width: auto;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .death_year {
  width: auto;
}

#modal-karte .tab-wrap .show .form-table tbody tr td ::placeholder {
  color: #e3e3e3;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .genetic_list {
  line-height: 1.5em;
  display: block;
  background: none;
  color: #000;
  border-radius: 0;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .genetic_list li label input {
  margin-left: 1em;
}

#modal-karte .tab-wrap .show .form-table tbody tr td .genetic_list ol {
  margin-left: 2em;
}

#modal-karte .tab-wrap .show .form-table tbody tr #group_wrap {
  display: flex;
}

#modal-karte .tab-wrap .show .form-table tbody tr #group_wrap select {
  margin-right: 0.5em;
}

#modal-karte .tab-wrap .show .form-table tbody tr #group_wrap #fixed-menu {
  padding: 5px;
  color: #fff;
  background-color: #3A4E98;
  border-radius: 30px;
  margin-left: 0.5em;
}

#modal-karte .tab-wrap .show .form-table tbody tr #relationship_td {
  display: flex;
}

#modal-karte .tab-wrap .show .form-table tbody tr:first-child {
  padding-top: 0;
}

#modal-karte .tab-wrap .show .form-table tbody tr:last-child {
  border-bottom: 0;
}

/*mobile*/
@media screen and (max-width: 800px) {
  #modal-karte .tab-wrap ul .tab-btn i {
    font-size: 1.5em;
  }
  #modal-karte .tab-wrap ul .tab-btn span {
    display: none;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr th {
    display: block;
    width: 100%;
    border-bottom: none;
    border-top: none;
    padding: 1em 0;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr td {
    display: block;
    width: 100%;
    border-bottom: none;
    border-top: none;
    padding: 0 0 1em 0;
  }
}

/**/
#fixed-menu {
  margin: auto 0;
}

#fixed-menu #fixed-menu-contents button {
  padding: 5px;
  color: #fff;
  background-color: #3A4E98;
  border-radius: 30px;
  margin-left: 0.5em;
}

a#home {
  display: block;
  position: relative;
  float: left;
  width: 50px;
  height: 40px;
  border-right: 1px solid #22303d;
  border-left: 1px solid #22303d;
  color: #e4eaf0;
}

a#home:before {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #cfdae4;
  font: 20px 'FontAwesome';
  content: "\f015";
}

.panel-wrap {
  position: relative;
}

.panel-wrap a {
  text-decoration: none;
}

a.panel-btn {
  display: block;
  position: relative;
  float: left;
  text-decoration: none;
  height: min-content;
  border-radius: 2em;
}

.panel {
  display: none;
  position: fixed;
  top: 155px;
  right: 90px;
  z-index: 1000;
  width: 200px;
  margin-left: -30px;
  padding: 1em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.2);
  color: #000;
}

.panel h5 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.panel p {
  margin-bottom: 0.5em;
}

.panel p select {
  border: solid 1px #AEB0B5;
  border-radius: 5px;
  padding: 5px 10px;
}

.panel button {
  padding: 7px 10px;
  background: #3A4E98;
  border-radius: 5px;
  color: #fff;
}

.group_panel {
  position: inherit;
  left: 42px;
  top: auto;
  margin-left: 0;
}

h5 {
  font-weight: normal;
}

/*add modal*/
*::-webkit-scrollbar {
  display: none;
}

#import_btn {
  display: none;
}

#myGrid {
  min-height: 70vh;
  margin: auto;
  overflow: auto !important;
  background: #fff;
}

.ht_master > .wtHolder {
  min-height: 70vh;
}

.wtHolder {
  height: 70vh;
}

#modalGrid {
  height: 50vh !important;
  border: 1px solid gray;
  margin: auto;
}

.hpo-parent {
  display: flex;
}

.modal {
  position: relative;
  /*position: absolute;*/
  /*height: 50vh;*/
  /*top: 50vh;*/
  /*left: 0;*/
  display: none;
  z-index: 200;
}

.modal_content {
  height: fit-content;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: -5px;
  box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
}

.modal_content .button_wrap {
  display: flex;
  padding: 0.5em;
}

.modal_content .button_wrap #add_column_input {
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  padding: 0.5em;
}

.modal_content .button_wrap .add {
  padding: 7px 10px;
  background: #F73859;
  border-radius: 5px;
  color: #fff;
  width: fit-content;
  margin-left: 0.7em;
}

.modal_content .button_wrap .add i {
  vertical-align: -6px;
}

.modal_content .button_wrap .close_modal {
  padding: 7px 10px;
  background: #cbcbcb;
  border-radius: 5px;
  color: #fff;
  width: fit-content;
  margin-left: 0.4em;
}

.modal_content .modal_container {
  height: 25vh;
  overflow-y: auto;
  background: #F2F3F4;
  line-height: 2em;
  width: auto;
}

.modal_content .modal_container div {
  display: flex;
  align-items: center;
}

.modal_content .modal_container div input {
  margin-bottom: 0;
}

.modal_content .modal_container div label {
  font-size: 1em;
  font-weight: normal;
}

.selected_add_header {
  background-color: #ffb67f;
}

/*メニュー切り替え追加*/
#content-groups h1 {
  font-weight: 500;
  color: #fff;
  background-color: #293255;
  padding: 0.7em 0.8em;
  width: fit-content;
  border-radius: 0.5em 0.5em 0 0;
}

#content-groups table {
  width: 100%;
  border-top: 1px solid #293255;
}

#content-groups table tr {
  border-bottom: 1px solid #ececec;
  background: #fff;
}

#content-groups table tr th {
  padding: 0.8em 0 0.8em 1em;
  font-size: 1em;
  font-weight: normal;
  color: #3A4E98;
}

#content-groups table tr td {
  display: flex;
  align-items: center;
  padding: 0.8em 1em;
  border-bottom: 1px solid #ececec;
}

#content-groups table tr td span {
  margin-left: 0.5em;
}

#content-groups table tr td:last-child {
  border-bottom: none;
}

#content-groups table tr:last-child {
  border-bottom: 1px solid #293255;
}

#menu-tab {
  display: flex;
  background: #fff;
  border-bottom: solid 1px #ddd;
  padding: 0.7em 2em;
}

#menu-tab .menu-links {
  margin: auto 0;
}

#menu-tab .menu-links li a {
  display: inline-flex;
  align-items: center;
}

#menu-tab .menu-links li #content-patients {
  display: inline-flex;
  font-weight: 500;
}

#menu-tab .menu-links li #content-patients i {
  font-size: 28px;
}

#menu-tab .side-content {
  list-style-type: none;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

#menu-tab .side-content li {
  background: #000;
  margin-left: 2em;
  border-radius: 3em;
  color: #fff;
  padding: 0.4em 1em;
  margin: auto 0;
  margin-left: 5px;
  display: inline-flex;
}

#menu-tab .side-content li i {
  vertical-align: -6px;
}

#menu-tab .side-content li h5 {
  display: block;
  margin: auto 0;
  padding-left: 0.5em;
}

#row_count {
  color: #fff;
  background: #a4acc7;
  border-radius: 2em;
  /* padding: 6px 10px; */
  width: 2.1em;
  height: 2em;
  margin: auto 0;
  margin-left: 0.5em;
  text-align: center;
  line-height: 2em;
  font-size: 0.8em;
}

/*handsontable*/
.handsontable thead th .relative {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: grid;
}

.handsontable thead th .relative span .material-icons-outlined.sort_icon {
  font-size: 1.2em;
  vertical-align: -2px;
}

::placeholder {
  color: #dadce0;
}

.search-header .search-header_wrapper {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
