/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #F2F3F4;
    --sidebar-color: #FFF;
    --primary-color: #3A4E98;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #5C5C5C;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}





.search-header-karte{
        z-index: 200;
        background: #fff;
}

#nav-left{
    .sidebar{
        position: fixed;
        left: 0;
        height: 100%;
        max-width: 295px;
        padding: 1em 2em;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;
        li{
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0.5em;
            a{
                .icon{
                    min-width: 52px;
                    border-radius: 6px;
                }
            }
        }
        .text{
            font-size: 1.1em;
            font-weight: 500;
            white-space: nowrap;
            opacity: 1;
            padding-right: 1em;
        }
        .icon{
            min-width: 52px;
            border-radius: 6px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            min-width: 52px;
            border-radius: 6px;
        }
        .menu-bar{
            height: calc(100% - 55px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: scroll;
            .menu{
                ul{
                li{
                    a{
                        list-style: none;
                        height: 100%;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        border-radius: 35px;
                        text-decoration: none;
                        transition: var(--tran-03);
                        &:hover{
                            background-color: #f7f7f7;
                            .text{
                                color: #3A4E98;
                            }
                            .icon{
                                    color: #3A4E98;
                            }
                        }
                    }
                    .karte-add{
                        padding: 12px;
                        color: #fff;
                        background-color: #3A4E98;
                        border-radius: 30px;
                        margin-left: 0.5em;
                        i{
                            text-align: center;
                            margin: 0 auto;
                            display: flow-root;
                        }
                    }
                }    
                }
            }
            .bottom-content{
                display: flex;
                margin-bottom: 2em;
                li{
                    background: #293255;
                    border-radius: 2em;
                    color: #fff;
                    a{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        span{
                            font-size: 1em;
                        }
                    }
                }
                .save-color{
                    background: #F73859;
                    margin-left: 0.4em;
                    a{
                        span{
                            font-size: 1em;
                        }
                    }
                }
            }
            
        }
    }
    .close{
        width: 80px;
        .text{
            opacity: 0;
        }
    }
    .home{
        /*position: absolute;
        top: 24px;
        left: 295px;
        height: 100vh;
        width: calc(100% - 295px);*/
        main{
            padding: 9em 2em 1em;
            #home-menu{
                display: flex;
                margin-right: 0;
                margin-left: auto;
            #search_input{
                background-color: #fff;
                padding: 0.7em 1.2em;
                width: 50%;
                border-radius: 3em;
                margin-bottom: 1em;
            }
            #table_menu{
                span{
                    display: inline-flex;
                    align-items: center;
                    margin-left: 0.5em;
                    cursor: pointer;
                }
                margin-left: auto;
                #row_count{
                    color: #fff;
                    background-color: #293255;
                    padding: 0.7em 0.8em;
                    width: fit-content;
                    border-radius: 0.5em 0.5em 0 0;
                }
                #download{
                    padding: 5px;
                    height: min-content;
                    color: #fff;
                    background-color: #3A4E98;
                    border-radius: 6px;
                    margin-left: auto;
                    span{
                        display: block;
                        font-size: 22px;
                    }
                }
             }
            }
        }
        .text{
            font-size: 30px;
            font-weight: 500;
            padding: 12px 60px;
        }
        
    }
}

@media screen and (max-width: 970px) {
    #nav-left{
        .sidebar{
            .menu-bar{
                .menu{
                    .menu-links{
                        .nav-link{
                            a{
                                span{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .bottom-content{
                    li{
                        a{
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
        } 
        .home{
            left: 150px;
        }
    }
}



/*モーダル*/
#modal-karte {
    border: 0;
    padding: 0;
    border-radius: 20px;
    max-width: 100%;
    #modal-karte-button{
        position: absolute;
        top: -60px;
        right: 0;
        button{
            color: #fff;
            padding: 0.7em;
            margin-left: 2px;
            display: inline-flex;
            border-radius: 5em;
            span{
                width: 25px;
            }
            img{
                width: 25px;
            }
        }
        .modal-save{
            background: #3A4E98;
        }
        .modal-close{
            background: #3A4E98;
        }
        .modal-phenopackets{
            background: #c4c4c4;
        }
    }
    .tab-wrap{
        background-color: #fff;
        border-radius: 10px;
        ul {
            display: flex;
            background:#F4F4F4 ;
            color: #3A4E98;
            border-radius: 11px 11px 0 0;
            .tab-btn-first{
                border-radius: 10px 0 0 0;
            }
            .tab-btn-last{
                border-radius: 0 10px 0 0;
            }
            .tab-btn {
                width: 50%;
                padding: 1em 0;
                text-align: center;
                list-style: none;
                cursor: pointer;
                i{
                    font-size: 1em;
                }
              }
              .show {
                background: #3A4E98;
                border-top: 2px solid #3A4E98;
                color: #fff;
              }
          }
          .tab-contents {
            display: none;
            max-height: calc(100vh - 350px);
    overflow-y: scroll;
          }       
          .show {
            display: block;
            padding: 1em 2em;
            .form-table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                text-align: left;
                tbody{
                    tr {
                        min-height: 38px;
                        z-index: 10;
                        transform: translateY(0);
                        background: #fff;
                        box-shadow: 0 0 0 rgb(0, 0, 0 / 5%);
                        th {
                            padding: 0.5em 0 0.5em 0;
                            display: table-cell;
                            vertical-align: middle;
                            background: #fff;
                            position: relative;
                            font-weight: normal;
                            color: #3A4E98;
                            border-bottom: solid 1px #EDEDED;
                            span {
                                color: #636463;
                            }
                        }
                        td {
                            background-color: #fff;
                            padding: 0.7em 0 0.7em 1em;
                            display: table-cell;
                            vertical-align: middle;
                            border-bottom: solid 1px #EDEDED;
                            
                            span {
                                color: #888888;
                            }
                        
                            .tag {
                                display: grid;
                                border: solid 1px #B4B9D8;
                                background-color: #F5F5F5;
                                border-radius: 5px;
                                padding: 0.5em;
                                margin-right: 0.5em;
                                width: fit-content;
                        
                                span {
                                    font-size: 0.5em;
                                    color: #000;
                                }
                        
                            }
                            label{
                                font-size: 1em;
                                font-weight: normal;
                                margin-bottom: 0.1em;
                                input{
                                    width: auto;
                                }
                            }
                            textarea{
                                width: 100%;
                                height: auto;
                                padding: 0.5em 0.3em;
                                border: 1.5px solid #e3e3e3;
                                border-radius: 0.3em;
                            }
                            select{
                                padding: 0.35em 1em;
                                border: 1.5px solid #e3e3e3;
                                border-radius: 0.3em;
                                appearance: button;
                            }
                            input{
                                width: 100%;
                                padding: 0.5em 1em;
                                border: 1.5px solid #e3e3e3;
                                border-radius: 0.3em;
                            }
                            .input-top{
                                margin-top: 0.5em;
                            }
                            .birth_year{
                                width: auto;
                            }
                            .death_year{
                                width: auto;
                            }
                            ::placeholder{
                                color: #e3e3e3;
                            }
                            .genetic_list{
                                line-height: 1.5em;
                                display: block;
                                background: none;
                                color: #000;
                                border-radius: 0;
                                li{
                                    label{
                                        input{
                                            margin-left: 1em; 
                                        }
                                    }
                                }
                                ol{
                                    margin-left: 2em;
                                }
                            }
                        }
                        #group_wrap{
                            display: flex;
                            select{
                                margin-right: 0.5em;
                            }
                            #fixed-menu{
                                padding: 5px;
                                color: #fff;
                                background-color: #3A4E98;
                                border-radius: 30px;
                                margin-left: 0.5em;
                            }
                          }
                          #relationship_td{
                            display: flex;
                          }
                        &:first-child{
                            padding-top: 0;
                        }

                        &:last-child{
                            border-bottom:0;
                        }
                    }
                }
            }
          }
    
      }

}


/*mobile*/
@media screen and (max-width: 800px) {
    #modal-karte{
    .tab-wrap{
        ul {
            .tab-btn-first{
            }
            .tab-btn-last{
            }
            .tab-btn {
                i{
                    font-size: 1.5em;
                }
                span{
                    display: none;
                }
              }
              .show {
              }
          }
          .tab-contents {
          }       
          .show {
            .form-table{
                tbody{
                    tr {
                        th{
                            display: block;
                            width: 100%;
                            border-bottom: none;
                            border-top: none;
                            padding: 1em 0;
                        }
                        td{
                            display: block;
                            width: 100%;
                            border-bottom: none;
                            border-top: none;
                            padding: 0 0 1em 0;
                        }
                        }
                        
                    }

                }
            }
          }
        }
      }




/**/
#fixed-menu {
    margin: auto 0;
  
  #fixed-menu-contents {
    button{
        padding: 5px;
                                  color: #fff;
                                  background-color: #3A4E98;
                                  border-radius: 30px;
                                  margin-left: 0.5em;
    }
  }}
  a#home{
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 40px;
    border-right: 1px solid #22303d;
    border-left: 1px solid #22303d;
    color: #e4eaf0;
  }
  a#home:before {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #cfdae4;
    font: 20px 'FontAwesome';
    content: "\f015";
  }
  .panel-wrap{
    position: relative;
    a{
        text-decoration: none;
      }
  }
  a.panel-btn{
    display: block;
    position: relative;
    float: left;
    text-decoration: none;
    height: min-content;
    border-radius: 2em;
  }
  .panel{
    display: none;
    position: fixed;
    top: 155px;
    right: 90px;
    z-index: 1000;
    width: 200px;
    margin-left: -30px;
    padding: 1em;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 15px 1px rgba(0,0,0,.2);
    color: #000;
    h5{
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    p{
        margin-bottom: 0.5em;
        select{
            border: solid 1px #AEB0B5;
            border-radius: 5px;
            padding: 5px 10px;
        }
    }
    button{
        padding: 7px 10px;
        background: #3A4E98;
        border-radius: 5px;
        color: #fff;
    }
  }

  .group_panel{
    position: inherit;
    left: 42px;
    top: auto;
    margin-left: 0;
}

h5{
    font-weight: normal;
}




  /*add modal*/

  *::-webkit-scrollbar { display: none; }
  #import_btn { display: none; }
  
  #myGrid {
      min-height: 70vh;
      margin: auto;
      overflow: auto !important;
      background: #fff;
  }
  
  .ht_master > .wtHolder {
      min-height: 70vh;
  }

  #modalGrid {
      height: 50vh !important;
      border: 1px solid gray;
      margin: auto;
  }
  
  .hpo-parent {
      display: flex;
  }
  
  .modal {
      position: relative;
      /*position: absolute;*/
      /*height: 50vh;*/
      /*top: 50vh;*/
      /*left: 0;*/
      display: none;
      z-index: 200;
  }
  
  .modal_content {
      height: fit-content;
      background: #fff;
      border-radius: 5px;
      position: absolute;
      top: -16px;
    right: 75px;
      box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
      .button_wrap{
        display: flex;
        padding: 0.5em;
        #add_column_input{
            border: solid 1px #d7d7d7;
            border-radius: 5px;
            padding: 0.5em;
          }
      .add{
        padding: 7px 10px;
        background: #F73859;
        border-radius: 5px;
        color: #fff;
        width: fit-content;
        margin-left: 0.7em;
        i{
            vertical-align: -6px;
        }
      }
      .close_modal{
        padding: 7px 10px;
        background: #cbcbcb;
        border-radius: 5px;
        color: #fff;
        width: fit-content;
        margin-left: 0.4em;
      }
  }
  .modal_container {
    height: 25vh;
    overflow-y: auto;
    background: #F2F3F4;
    line-height: 2em;
    width: auto;
    div{
        display: flex;
        align-items: center;
        input{
            margin-bottom: 0;
        }
        label{
            font-size: 1em;
            font-weight: normal;
        }
    }
    }
}
  
  
  
  .selected_add_header {
      background-color: #ffb67f;
  }
  



  /*メニュー切り替え追加*/

#content-groups{
    h1{
        font-weight: 500;
        color: #fff;
        background-color: #293255;
        padding: 0.7em 0.8em;
        width: fit-content;
        border-radius: 0.5em 0.5em 0 0;
    }
    table{
        width: 100%;
        border-top: 1px solid #293255;
        tr{
            border-bottom: 1px solid #ececec;
            background: #fff;
            th{
                padding: 0.8em 0 0.8em 1em;
                font-size: 1em;
                font-weight: normal;
                color: #3A4E98;
            }
            td{
                display:flex;
                align-items:center;
                padding: 0.8em 1em;
                border-bottom: 1px solid #ececec;
                span{
                    margin-left: 0.5em;
                }
            }
            td:last-child{
                border-bottom: none;
            }
        
        }
        tr:last-child{
            border-bottom: 1px solid #293255;
        }
    }
}



#menu-tab{
    display: flex;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding: 0.7em 2em;
    .menu-links{
        margin: auto 0;
        li{
            a{
                display: inline-flex;
                align-items: center;
            }
            #content-patients{
                display: inline-flex;
                font-weight: 500;
                pointer-events: none;
                i{
                    font-size: 28px;
                }
            }
        }
    }
    .side-content{
        list-style-type: none;
        display: flex;
        margin-right: 0;
        margin-left: auto;
        li{
            background: #000;
            margin-left: 2em;
            border-radius: 3em;
            color: #fff;
            padding: 0.4em 1em;
            margin: auto 0;
            margin-left: 5px;
            display: inline-flex;
            cursor: pointer;
            i{
                vertical-align: -6px;
            }
            h5{
                display: block;
                margin: auto 0;
                padding-left: 0.5em;
            }
        }
    }
}
#row_count{
    color: #fff;
    background: #a4acc7;
    border-radius: 2em;
    /* padding: 6px 10px; */
    width: 2.1em;
    height: 2em;
    margin: auto 0;
    margin-left: 0.5em;
    text-align: center;
    line-height: 2em;
    font-size: 0.8em;
}

/*handsontable*/
.handsontable{
    thead{
        th{
        .relative{
    text-align: left;
    padding: 10px;
    font-size: 1.1em;
    display: grid;
    span{
          .material-icons-outlined.sort_icon {
          font-size: 1.2em;
          vertical-align: -2px;
  }
    }
}
}
}
}

::placeholder {
    color: #dadce0;
  }


  .search-header .search-header_wrapper{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }



  .wtHolder{
    height: 70vh !important;
    }
    