<!DOCTYPE html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% else %}
<html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubCaseFinder</title>
    <!--css start-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel="stylesheet" href="/static/css/pcf/branc.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-ie7.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-ie7-codes.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-embedded.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link href="/static/css/pcf/remodal.css" rel="stylesheet">
    <link href="/static/css/pcf/remodal-default-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pcf/bootstrap-new.css">
    <link rel="stylesheet" href="/static/css/pcf/style-new2.css">
    <link rel="stylesheet" href="/static/css/pcf/style-new.css">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!--css end-->
    <!-- jquery-tokeninput -->
    <link rel="stylesheet" href="/static/css/token-input-facebook.css" type="text/css" />
    <!-- popup-tokeninput -->
    <link rel="stylesheet" href="/static/css/popup-hierarchy-hpo.css">
    <link rel="stylesheet" href="/static/css/popup-hierarchy-gene.css">
    <!--favicon start-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/pcf/top/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/pcf/top/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/pcf/top/favicon-16x16.png">
    <link rel="manifest" href="/static/images/pcf/top/site.webmanifest">
    <link rel="mask-icon" href="/static/images/pcf/top/safari-pinned-tab.svg" color="#2a3356">
    <meta name="msapplication-TileColor" content="#2a3356">
    <meta name="theme-color" content="#ffffff">
    <!--favicon end-->
    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <header class="search-header">
        <div class="wrapper search-header_wrapper">
            <div class="search-header_top">
                <div class="brand">
                    <a href="#" class="brand"><img src="/static/images/pcf/top/logo_color.svg" alt=""></a>
                </div>
                <div class="search-header_left">
                    <nav class="nav-pc">
                        <ul class="menu-pc">
			    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                            <li><a href="/static/pdf/PubCaseFinder_manual_ja_v4.pdf"><i class="icon-question-circle-o"></i>About</a></li>
			    {% else %}
                            <li><a href="/static/pdf/PubCaseFinder_manual_en_v4.pdf"><i class="icon-question-circle-o"></i>About</a></li>
			    {% endif %}
                            <li><a href="/datasets"><i class="icon-database"></i>Datasets</a></li>
                            <li><a href="/history"><i class="icon-history"></i>History</a></li>
                            <li><a href="/termsofservice"><i class="icon-doc-text-inv"></i>Terms</a></li>
                            <li><a href="https://integbio.jp/rdf/dataset/pubcasefinder"><i class="icon-share"></i>RDF</a></li>
                            <li><a href="/mme"><i class="icon-wrench"></i>API</a></li>
                            <li><a title="Comments & suggestions are welcome!" href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp"><i class="icon-mail-alt"></i>Contact</a></li>

                        </ul>
                    </nav>
                    <nav class="nav-sp">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#"><span class="material-icons">
                                        menu
                                    </span></a>
                                <ul class="sub-menu">
				    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                                    <li><a href="/static/pdf/PubCaseFinder_manual_ja_v4.pdf">About</a></li>
			            {% else %}
                                    <li><a href="/static/pdf/PubCaseFinder_manual_en_v4.pdf">About</a></li>
				    {% endif %}
                                    <li><a href="/datasets">Datasets</a></li>
                                    <li><a href="/history">History</a></li>
                                    <li><a href="/termsofservice">Terms</a></li>
                                    <li><a href="https://integbio.jp/rdf/dataset/pubcasefinder">RDF</a></li>
                                    <li><a href="/mme">API</a></li>
                                    <li><a title="Comments & suggestions are welcome!" href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="language"><a href="{{ request.path }}?lang=en">EN</a> / <a href="{{ request.path }}?lang=ja">JA</a></div>
                    <!--<div class="site-header_end">
                        <a class="button" href="#">Login<i class="material-icons">expand_more</i></a>
                    </div>-->
                </div>
            </div>
        </div>
    </header>
    <div class="top-wrapper">
        <section class="content">
            <div class="search">
	      <form name="search" action="/result" method="get" class="form-group">
                <div class="search-box_wrapper">
                    <div class="search-brand">
                        <a href="#"><img src="/static/images/pcf/top/logo_color.svg" alt=""></a>
                    </div>
		    <textarea class="form-control" rows="2" id="tokeninput_hpo" name="phenotype"></textarea>
                    <div class="search-button">
		        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                        <a class="search_end" href="/ehr" target="_blank">文章から症状を自動抽出したい場合はコチラ</a>
                        <!--span class="search_end"><a href="/text2hpo" target="_blank">文章から症状を自動抽出したい場合はコチラ</a></span-->
			{% else %}
                        <a class="search_end" href="https://doc2hpo.wglab.org" target="_blank">Input Free-Text (doc2hpo)</a>
			{% endif %}
                    </div>
                </div>
                <div class="search-box_button">
                    <div class="search-button">
                        <a id="phenotouch" href=""><i class="icon-icon-symptoms"></i>{{ _('index_button_phenotouch') }}</a>
                        <a id="tokeninput_hpo_clear" href="">{{ _('index_button_clear') }}</a>
                        <a href="javascript:search.submit()" class="search-button-left"><i class="icon-icon-search"></i>{{ _('index_button_search') }}</a>
                    </div>
                </div>
                <div class="search-ex">
                    <a href="#" id="ex_phenotypes">ex) {{ _('index_Sample') }}</a>
                </div>

		<input type="hidden" name="target" value="omim">
		<input type="hidden" name="filter" value="">
		<input type="hidden" name="size" value="10">
		<input type="hidden" name="display_format" value="full">
		{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
		<input type="hidden" name="lang" value="ja">
		{% else %}
		<input type="hidden" name="lang" value="en">
		{% endif %}

              </form>
            </div>

            <!--<div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/static/images/pcf/top/slider_1.png" alt="">
                        <div class="slider_text">
                            <h6>Can be used on
                                PCs and tablets</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit
                                    amet,
                                    consectetur adipisicing elit</p>
                                <a href="#" class="btn">Raed more</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/pcf/top/slider_2.png" alt="">
                        <div class="slider_text">
                            <h6>Used in medical school classes</h5>
                                <p>Erasmus University Rotterdam, EUR</p>
                                <a href="#" class="btn">Raed more</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/pcf/top/slider_3.png" alt="">
                        <div class="slider_text">
                            <h6>Symptoms can be automatically extracted from electronic medical records</h5>
                                <p> (medical records)</p>
                                <a href="#" class="btn">Raed more</a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="/static/images/pcf/top/slider_4.png" alt="">
                        <div class="slider_text">
                            <h6>Filter function</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitLorem ipsum dolor sit
                                    amet,
                                    consectetur adipisicing elit</p>
                                <a href="#" class="btn">Raed more</a>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>-->

            <div class="section-useful">
                <div class="text-center animation-box">
                    <!--h6>{{ _('index_usage_title_sub') }}</h6-->
                    <h1>{{ _('index_usage_title') }}</h1>
                </div>
                <div id="cardlayout-wrap">
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_1.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_1_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_1_desc') }}</p>
                    </section>
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_3.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_3_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_3_desc') }}</p>
                    </section>
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_2.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_2_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_2_desc') }}</p>
                    </section>
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_4.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_4_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_4_desc') }}</p>
                    </section>
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_6.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_5_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_5_desc') }}</p>
                    </section>
                    <section class="card-list animation-box">
                            <figure class="card-figure"><img src="/static/images/pcf/top/usage_5.png" height="270"></figure>
                            <h2 class="card-title">{{ _('index_usage_6_title') }}</h2>
                            <p class="card-text-tax">{{ _('index_usage_6_desc') }}</p>
                    </section>
                </div>
            </div>

            <div class="section-movie">
                <div class="movie-wrapper">
                    <div class="movie-text">
                        <div class="text-left">
                            <h1>Tailored for <br>Medical Professionals</h1>
                            <div class="movie-button remodal-bg">
                                <a href="#modal"><i class="icon-icon-movie"></i>How Does It Work?</a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-img"><img src="/static/images/pcf/top/img-movie.png"></div>
                </div>
            </div>

            <div class="section-statistics">
                <div class="text-center animation-box">
                    <h1>Statistics</h1>
                </div>
                <div class="grid-w">
                    <div class="item-w">
                        <h1 class="count" data-num="7848">7000</h1>
                        <p>
                            Genetic Diseases
                        </p>
                        <span class="icon-omim"></span>
                    </div>
                    <div class="item-w">
                        <h1 class="count" data-num="3619">3000</h1>
                        <p>
                            Rare Diseases

                        </p>
                        <span class="icon-orphanet"></span>
                    </div>
                    <div class="item-w">
                        <h1 class="count" data-num="4025">3300</h1>
                        <p>
                            Genes
                        </p>
                        <span class="icon-cause"></span>
                    </div>
                    <div class="item-w">
                        <h1 class="count" data-num="18893">18000</h1>
                        <p>
                            Cases
                        </p>
                        <span class="icon-users"></span>
                    </div>
                </div>
            </div>

            <div class="section-citation">
                <div class="text-center animation-box">
                    <h1>Citation</h1>
                    <div class="Citation-box">
                        <span class="decoration1"><img src="/static/images/pcf/top/comma_1.png"></span>
                        <h5>When you use PubCaseFinder in your publications, please cite:</h5>
                        <p>Toyofumi Fujiwara, Yasunori Yamamoto, Jin-Dong Kim, Orion Buske, and Toshihisa Takagi.,
                            PubCaseFinder: A Case-Report-Based, Phenotype-Driven Differential-Diagnosis System for
                            Rare
                            Diseases, The American Journal of Human Genetics 103.3 (2018): 389-399.</p>
                        <div class="Citation-button">
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/30173820">[PubMed Entry]</a>
                            <a href="https://www.cell.com/ajhg/fulltext/S0002-9297(18)30269-6?code=ajhg-site"> [Full Text]</a>
                        </div>
                        <span class="decoration2"><img src="/static/images/pcf/top/comma_2.png"></span>
                    </div>
                </div>
            </div>

            <div class="section-specialThanks">
                <div class="text-center animation-box">
                    <h1>Special Thanks</h1>
                </div>
                <div class="grid">
                    <div class="item">
                        <a href="https://hpo.jax.org/app/"><img src="/static/images/pcf/top/logo_human.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://github.com/monarch-initiative/mondo"><img src="/static/images/pcf/top/logo_mondo.png"></a>
                    </div>
                    <div class="item">
                        <a href="http://www.orphadata.org/cgi-bin/index.php"><img src="/static/images/pcf/top/logo_orpha.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://monarchinitiative.org/"><img src="/static/images/pcf/top/logo_monarch.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://bioportal.bioontology.org/ontologies/NANDO"><img
                                src="/static/images/pcf/top/logo_NANDO.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://nanbyodata.jp/"><img src="/static/images/pcf/top/logo_NanbyoData.png"></a>
                    </div>
		    <div class="item">
		        <a href="http://phenopackets.org"><img src="/static/images/pcf/top/logo_phenopackets.png"></a>
		    </div>
                </div>
            </div>
            <div class="section-memberships">
                <div class="text-center animation-box">
                    <h1>Memberships & Collaborators</h1>
                </div>
                <div class="grid">
                    <div class="item">
                        <a href="https://www.ga4gh.org/"><img src="/static/images/pcf/top/logo_global.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.matchmakerexchange.org"><img src="/static/images/pcf/top/logo_matchmaker.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://biosciencedbc.jp/en/"><img src="/static/images/pcf/top/logo_NBDC.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://phenotips.com"><img src="/static/images/pcf/top/logo_PhenoTips.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.phenomecentral.org/"><img src="/static/images/pcf/top/logo_central.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://rd-connect.eu"><img src="/static/images/pcf/top/logo_RD.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="https://www.jstage.jst.go.jp/browse/-char/en"><img src="/static/images/pcf/top/logo_jstage.png"></a>
                    </div>
                    <div class="item">
                        <a href="https://jglobal.jst.go.jp/en"><img src="/static/images/pcf/top/logo_Jglobal.png"></a>
                    </div>
                </div>
            </div>
    </div>


    </section>
    </div>
    <div class="remodal" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <iframe width="630" height="415" src="https://www.youtube.com/embed/sPK1FrdN0Dw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

</body>

<!-- START: Common header and footer -->
<script type="text/javascript" src="/static/common-header-and-footer/script/common-footer.js" id="common-footer__script"></script>
<script type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block" id="common-header-and-footer__script" data-width="976" data-color="mono"></script>
<!-- END: Common header and fotter -->

<!-- START: Slider -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="/static/js/pcf/remodal.min.js"></script>
<script>
    $(function () {
        $('span').on('click', function (event) {
            let getId = $(this).parent().attr('.search-button');
            event.preventDefault();
            $(this).toggleClass('active');
        });
    });
    $('.tab-content>div').hide();
    $('.tab-content>div').first().slideDown();
    $('.tab-buttons span').click(function () {
        var thisclass = $(this).attr('class');
        $('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
        $('.tab-content>div').each(function () {
            if ($(this).hasClass(thisclass)) {
                $(this).fadeIn(800);
            }
            else {
                $(this).hide();
            }
        });
    });
    jQuery(window).on('scroll', function () {
        if (jQuery('.search-header').height() < jQuery(this).scrollTop()) {
            jQuery('.search-header').addClass('change-color');
        } else {
            jQuery('.search-header').removeClass('change-color');
        }
    });
    var mySwiper = new Swiper('.swiper-container', {
        loop: true,
        speed: 5000,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        autoplay: {
            stopOnLastSlide: false,
            disableOnInteraction: false,
            reverseDirection: false
        }
    });
    $(function () {
        var countElm = $('.count'),
            countSpeed = 1;

        countElm.each(function () {
            var self = $(this),
                countMax = self.attr('data-num'),
                thisCount = self.text(),
                countTimer;

            function timer() {
                countTimer = setInterval(function () {
                    var countNext = thisCount++;
                    self.text(countNext);

                    if (countNext == countMax) {
                        clearInterval(countTimer);
                    }
                }, countSpeed);
            }
            timer();
        });

    });
</script>
<!-- END: Slider -->

<!-- START: Import JavaScript -->   
<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- countTo -->
<script src="/static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<!-- modify start for chrome 91.0.4472.123-->
<!-- <script src="/static/js/jquery.magnific-popup.min.js"></script>  -->
<script src="/static/js/jquery.magnific_popup.min.js"></script>
<!-- modify end for chrome 91.0.4472.123-->
<script src="/static/js/magnific-popup-options.js"></script>
<!-- Stellar -->
<script src="/static/js/jquery.stellar.min.js"></script>
<!-- rater -->
<script src="/static/js/rater.js"></script>
<!-- Main -->
<script src="/static/js/main.js"></script>
<!-- END: Import JavaScript -->    

<!-- START: jquery-tokeninput -->
<script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#ex_phenotypes").click(function (){
      $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_1_id') }}", name: "{{ _('index_Sample_1_name') }}"});
      $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_2_id') }}", name: "{{ _('index_Sample_2_name') }}"});
      $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_3_id') }}", name: "{{ _('index_Sample_3_name') }}"});
      $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_4_id') }}", name: "{{ _('index_Sample_4_name') }}"});
      $("#tokeninput_hpo").tokenInput("add", {id: "{{ _('index_Sample_5_id') }}", name: "{{ _('index_Sample_5_name') }}"});
      return false;
    });
    $("#tokeninput_hpo").tokenInput("/tokeninput_hpo", {
      theme: "facebook"
    });
    $("#tokeninput_hpo_clear").click(function (){
      $("#tokeninput_hpo").tokenInput("clear");
      return false;
    });
  });
  $("#phenotouch").click(function (e){
    $.PopupRelationHPOWithWebGL();
    e.preventDefault();
    e.stopPropagation();
    return false;
  });
  $('.rater').rate({
    max_value: 5,
    step_size: 0.1,
    initial_value: 0
  });
</script>
<!-- END: jquery-tokeninput -->

<!-- START: popup-hierarchy-hpo -->
<!-- WebGL -->
<script src="/static/js/d3/3.5.17/d3.min.js"></script>
<script src="/static/js/three.js-r84/build/three.min.js"></script>
<script src="/static/js/three.js-r84/examples/js/Detector.js"></script>
<script src="/static/js/three-bits/OBJLoader.js"></script>
<script src="/static/js/three-bits/three-bits.js"></script>
<script src="/static/js/three-bits/three-bits-renderer.js"></script>
<script src="/static/js/three-bits/defaults.js"></script>
<!-- script src="/static/js/three-bits/category2obj.js"></script -->
<script src="/static/js/popup-hierarchy-hpo.js"></script>
<script src="/static/js/button-ripple-effect.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#tokeninput_hpo").popupRelationHPO('/popup_hierarchy_hpo');
  });
</script>

</html>
