<!DOCTYPE html>
<html lang="en">
<!--json test-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubcaseFinder</title>
    <!--css-->
    <!-- start bits-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel="stylesheet" href="/static/css/pcf/bootstrap.css">
    <link rel="stylesheet" href="/static/css/pcf/tippy.css">
    <link rel="stylesheet" href="/static/css/pcf/search-box-form.css">
    <link rel="stylesheet" href="/static/css/pcf/text-input.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/pcf/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/pcf/token-input-facebook.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/pcf/popup-hierarchy-hpo.css">
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-extreme.css" />
    <!-- end bits-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel='stylesheet' href="/static/css/pcf/branc.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-ie7.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-ie7-codes.css">
    <link rel='stylesheet' href="/static/css/pcf/branc-embedded.css">
    <link rel='stylesheet' href="/static/record/css/branc.css">
    <link rel='stylesheet' href="/static/record/css/branc-ie7.css">
    <link rel='stylesheet' href="/static/record/css/branc-ie7-codes.css">
    <link rel='stylesheet' href="/static/record/css/branc-embedded.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
    <link href="/static/css/pcf/remodal.css" rel="stylesheet">
    <link href="/static/css/pcf/remodal-default-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#2a3356">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@12.1/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/handsontable@12.1/dist/handsontable.full.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.2/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/yamljs@0.3.0/dist/yaml.min.js"></script>
    <meta name="msapplication-TileColor" content="#2a3356">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/pcf/style-togo.css">
    <link rel="stylesheet" href="/static/record/css/record.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<!-- <body onbeforeunload="return beforeLoad()"> -->

    <body>
    <header class="search-header search-header-karte">
        <div class="wrapper search-header_wrapper">
            <div class="search-header_top">
                <div class="brand">
                    <a href="https://pubcasefinder.dbcls.jp/" class="brand"><img src="/static/images/logo_color.svg"
                            alt=""></a>
                </div>
                <div class="search-header_left">
                    <nav class="nav-pc">
                        <ul class="menu-pc">
                            <li><a href="/guides.html"><i class="icon-question-circle-o"></i>Guides</a></li>
                            <li><a href="/api.html"><i class="icon-wrench"></i>API</a></li>
                            <li><a href="/history.html"><i class="icon-history"></i>History</a></li>
                            <li><a href="/termsofservice.html"><i class="icon-doc-text-inv"></i>Terms</a>
                            </li>
                            <li><a href="/sources.html"><i class="icon-database"></i>Sources</a></li>
                            <li><a target="_blank" href="https://integbio.jp/rdf/dataset/pubcasefinder"><i
                                        class="icon-share"></i>RDF</a></li>
                            <li><a title="Comments &amp; suggestions are welcome!"
                                    href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp"><i
                                        class="icon-mail-alt"></i>Contact</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-sp">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#"><span class="material-icons">
                                        menu
                                    </span></a>
                                <ul class="sub-menu">
                                    <li><a href="/guides.html">Guides</a></li>
                                    <li><a href="/api.html">API</a></li>
                                    <li><a href="/history.html">History</a></li>
                                    <li><a href="/termsofservice.html">Terms</a></li>
                                    <li><a href="/sources.html">Sources</a></li>
                                    <li><a target="_blank" href="https://integbio.jp/rdf/dataset/pubcasefinder">RDF</a>
                                    </li>
                                    <li><a title="Comments &amp; suggestions are welcome!"
                                            href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp">Contact</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="language">
                        <select id="select-lang" class="select-text" onchange="changeLanguage(this)">
                            <option value="en">English</option>
                            <option value="ja">日本語</option>
                            <option value="ko">한국어</option>
                        </select>
                        <span class="select-highlight"></span>
                        <span class="select-bar"></span>
                        <label class="select-label">
                            <i class="material-symbols-outlined">
                                language
                            </i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu-tab">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#" id="content-patients">
                        <i class="bxt icon material-icons-outlined person_icon">
                            person
                        </i>
                        <span class="text nav-text link_name">MY PATIENTS :</span>
                        <h1 id="row_count">0</h1>
                    </a>
                </li>
            </ul>
            <div class="side-content">
                <div class="first-users-wrap">
                    <a href="#" class="panel-btn">
                        <i class="material-symbols-outlined">
                            help
                        </i>
                        Guide
                    </a>
                    <div class="panel panel_first">
                        <div class="export-panel first-users-panel">
                            <img class="users01" src="/static/images/users01.png">
                            <h6>ようこそ</br>
                                さまざまな症例情報をローカルに保存できます</h6>
                            <span>形式 : Json / tsv / Phenopackets（.yaml）</span>
                            <p>簡易記入は(1)を、詳細情報記入の場合は(2)を押してください。</p>
                            <img src="/static/images/users02.png">
                        </div>
                    </div>
                </div>
                <li class="">
                    <a href="#" onclick="document.getElementById('import_btn').click()">
                        <i class="icon material-symbols-outlined">
                            folder_open
                        </i>
                        <span class="text nav-text link_name">Open</span>
                        <input type="file" id="import_btn" onchange="importFile(event)">
                    </a>
                </li>

                <li class="panel-wrap">
                    <a href="#" class="panel-btn">
                        <i class="icon material-symbols-outlined">
                            save
                        </i>
                        <span class="text nav-text link_name">Save</span>
                    </a>
                    <div class="panel">
                        <div class="export-panel">
                            <h6>Export</h6>
                            <p>Format :
                                <select name="file" id="dl-select">
                                    <option value="json">json</option>
                                    <option value="tsv">tsv</option>
                                </select>
                            </p>
                            <button id="dl_table_button" onclick="getExportData(false)">Download</button>
                        </div>
                    </div>
                </li>
            </div>
            </div>
        </nav>
    </header>
    <section id="nav-left">
        <!--<nav class="sidebar global-nav">
            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#" id="content-patients">
                                <i class="bxt icon material-icons-outlined">
                                    person
                                </i>
                                <span class="text nav-text link_name">My patients</span>
                            </a>
                            <div class="modal_open karte-btn karte-add" data-target="modal-karte"
                                rel="noopener noreferrer">
                                <i class="material-symbols-outlined">
                                    edit_square
                                </i>
                            </div>
                        </li>



        </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#" onclick="document.getElementById('import_btn').click()">
                    <i class="icon material-symbols-outlined">
                        folder_open
                    </i>
                    <span class="text nav-text link_name">Open</span>
                    <input type="file" id="import_btn" onchange="importFile(event)">
                </a>
            </li>

            <li class="save-color panel-wrap">
                <a href="#" class="panel-btn">
                    <i class="icon material-symbols-outlined">
                        save
                    </i>
                    <span class="text nav-text link_name">Save</span>
                </a>
                <div class="panel">
                    <h5>Export</h5>
                    <p>Format:
                        <select name="file" id="dl-select">
                            <option value="json">json</option>
                            <option value="tsv">tsv</option>
                        </select>
                    </p>
                    <button id="dl_table_button" onclick="getExportData(false)">Download</button>
                </div>
            </li>
        </div>
        </div>
        </nav>-->
        <section class="home">
            <main id="content-patients">
                <div id="home-menu">
                    <input type="search" placeholder="キーワード検索" id="search_input">
                    <span id="reset" onclick="pageReload()"><i class="material-symbols-outlined">
                            Refresh
                        </i>
                    </span>
                    <!--
                    <span onclick="downloadSample('json')">サンプルJSON</span>
                    <span onclick="downloadSample('excel')">サンプルTSV</span>
                    -->
                    <div id="table_menu">
                        <span onclick="addColumn()" id="add-column"><i class="material-symbols-outlined">
                                playlist_add_check
                            </i>列追加</span>
                        <span onclick="addRow()" id="add-row"><i class="material-symbols-outlined">
                                group_add
                            </i>行追加</span>
                        <li class="modal_open karte-btn karte-add" data-target="modal-karte" rel="noopener noreferrer">
                            <i class="material-symbols-outlined">
                                edit_square
                            </i>
                        </li>
                    </div>
                </div>
                <div id="fixed-menu">
                    <div class="modal">
                        <div class="modal_content">
                            <div class="button_wrap">
                                <input id="add_column_input" type="text" placeholder="新規項目">
                                <div class="add"><i class="material-symbols-outlined">
                                        playlist_add
                                    </i>作成</div>
                                <!-- <div class="close_modal">X</div> -->
                            </div>
                            <div class="modal_container" id="modal_container">
                            </div>
                        </div>
                    </div>
                    <!--<div id="fixed-menu-contents">
                            <button>Phenopackets</button>
                            <div class="panel-wrap">
                                <a href="#" class="panel-btn"><span class="material-icons">save_alt</span></a>
                                <div class="panel">
                                    <h5>ダウンロード</h5>
                                    <p>Format:
                                        <select name="file" id="dl-table-select">
                                            <option value="json">json</option>
                                            <option value="tsv">excel</option>
                                        </select>
                                    </p>
                                    <button id="dl_table_button" onclick="getExportData(false)">Download</button>
                                </div>
                            </div>
                        </div>-->
                </div>
                </div>
                <div id="myGrid" ondragover="onDragOver(event)" ondrop="onDrop(event)"></div>
            </main>
        </section>
    </section>
    <div id="modal-karte" class="modal_box modal-karte">
        <div id="modal-karte-button">
            <button class="modal-close"><span class="material-symbols-outlined">
                    close
                </span></button>
        </div>
        <div id="modal-karte-button-sub">
            <button class="modal-phenopackets"><img src="/static/images/PhenoPackets_Logo.png">
                <p>Phenopackets
                    download</p>
                <i class="material-symbols-outlined">
                    downloading
                </i>
            </button>
            <button class="modal-copy"><i class="material-symbols-outlined">
                    file_copy
                </i>
                <p>Data copy</p>
            </button>
        </div>
        <div class="tab-wrap" id="modal-tab-wrap">
        </div>
    </div>
</body>

<!-- start bits-->
<!--  <script src="/static/js/pcf/jquery.min.js"></script>  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/pcf/bootstrap-4.6.0.bundle.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.countTo.js"></script>
<script src="/static/js/pcf/jquery.magnific_popup.min.js"></script>
<script src="/static/js/pcf/magnific-popup-options.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/pcf/rater.js"></script>
<script src="/static/js/pcf/jquery.tokeninput.js"></script>
<script src="/static/js/d3/3.5.17/d3.min.js"></script>
<script src="/static/js/three.js-r84/build/three.min.js"></script>
<script src="/static/js/three.js-r84/examples/js/Detector.js"></script>
<script src="/static/js/three-bits/OBJLoader.js"></script>
<script src="/static/js/three-bits/three-bits.js"></script>
<script src="/static/js/three-bits/three-bits-renderer.js"></script>
<script src="/static/js/three-bits/defaults.js"></script>
<script type="text/javascript" src="/static/js/pcf/popup-hierarchy-hpo.js"></script>
<script src="/static/js/button-ripple-effect.js"></script>
<script src="/static/js/jaconv/jaconv.min.js"></script>
<script type="text/javascript" src="/static/js/pcf/jquery.search-box_form.js"></script>
<script type="text/javascript" src="/static/js/pcf/jquery.textinput_hpo.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#search_box_form").search_box_form({
            'url_tokeninput_hpo': '/tokeninput_hpo',
            'url_tokeninput_hpo_second': '/pcf_get_hpo_by_text',
            'url_popup_hierarchy_hpo': '/popup_hierarchy_hpo',
            'url_load_hpo_data': '/get_hpo_data_by_hpo_id',
            {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
            'lang': "ja",
        {% else %}
        'lang': "en",
        {% endif %}
        'form_para_target': "omim",
        'form_para_filter': "",
        'form_para_filter_vgp': "",
        'form_para_size': "",
        'form_para_display_format': "full",
        'is_hierarchy_fullscreen': false,
        'schema': 'schema-2022',
        'text_input_schema': 'auto'
          });

    $("#ex_phenotypes").click(function () {
        $("#search_box_form").search_box_form('add_token', { id: "{{ _('index_Sample_1_id') }}", name: "{{ _('index_Sample_1_name') }}" });
        $("#search_box_form").search_box_form('add_token', { id: "{{ _('index_Sample_2_id') }}", name: "{{ _('index_Sample_2_name') }}" });
        $("#search_box_form").search_box_form('add_token', { id: "{{ _('index_Sample_3_id') }}", name: "{{ _('index_Sample_3_name') }}" });
        $("#search_box_form").search_box_form('add_token', { id: "{{ _('index_Sample_4_id') }}", name: "{{ _('index_Sample_4_name') }}" });
        $("#search_box_form").search_box_form('add_token', { id: "{{ _('index_Sample_5_id') }}", name: "{{ _('index_Sample_5_name') }}" });

        return false;
    });

    $('[data-toggle="tooltip"]').tooltip({ 'trigger': 'hover' });
    });

</script>
<!-- end bits-->
<script type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block" id="common-header-and-footer__script" data-width="976" data-color="mono"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="/static/record/js/remodal.min.js"></script>
<script src="/static/record/renderer.js"></script>
<script src="/static/record/variables/columns.js"></script>
<script src="/static/record/variables/emptyData.js"></script>
<script src="/static/record/variables/translation.js"></script>
<script src="/static/record/record.js" async defer></script>
<script src="/static/record/modal.js" async defer></script>
<script src="/static/record/modal_table.js" async defer></script>

<!--追加-->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<script>
    $(function () {
        $('span').on('click', function (event) {
            let getId = $(this).parent().attr('.search-button');
            event.preventDefault();
            $(this).toggleClass('active');
        });
    });
    $('.tab-content>div').hide();
    $('.tab-content>div').first().slideDown();
    $('.tab-buttons span').click(function () {
        var thisclass = $(this).attr('class');
        $('.tab-content>div').each(function () {
            if ($(this).hasClass(thisclass)) {
                $(this).fadeIn(800);
            }
            else {
                $(this).hide();
            }
        });
    });

    $('.modal_open').click(function () {
        openModal(false)
    });

    $(function () {
        $('.tab-btn').on('click', function () {
            var tabWrap = $(this).parents('.tab-wrap');
            var tabBtn = tabWrap.find(".tab-btn");
            var tabContents = tabWrap.find('.tab-contents');
            tabBtn.removeClass('show');
            $(this).addClass('show');
            var elmIndex = tabBtn.index(this);
            tabContents.removeClass('show');
            tabContents.eq(elmIndex).addClass('show');

            if ($(tabContents.eq(elmIndex)).children('#geneModal')[0]) {
                geneTable()
            } else if ($(tabContents.eq(elmIndex)).find('#bodyModal')[0]) {
                bodyTable()
            }
        });
    });

    $(function () {
        $(".panel-btn").click(function () {
            var clickPanel = $("+.panel", this);
            clickPanel.toggle();
            $(".panel").not(clickPanel).slideUp(0);
            $('.panel').on('click', (e) => {
                if (!e.target.closest('.export-panel')) $('.panel').hide()
            })
            return false;
        });
    });
</script>

</html>