<!DOCTYPE html>

{% if get_locale() == "ja" or get_locale() == "ja_JP" %}
<html lang="ja">
{% else %}
<html lang="en">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wilih=device-wilih, initial-scale=1.0">
    <title>PubCaseFinder</title>
    <!--css-->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link rel="stylesheet" href="/static/css/pcf/branc.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-ie7.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-ie7-codes.css">
    <link rel="stylesheet" href="/static/css/pcf/branc-embedded.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/static/css/pcf/style-togo.css">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--favicon start-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/pcf/top/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/pcf/top/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/pcf/top/favicon-16x16.png">
    <link rel="manifest" href="/static/images/pcf/top/site.webmanifest">
    <link rel="mask-icon" href="/static/images/pcf/top/safari-pinned-tab.svg" color="#2a3356">
    <meta name="msapplication-TileColor" content="#2a3356">
    <meta name="theme-color" content="#ffffff">
    <!--favicon end-->
</head>

<body>
    <header class="search-header">
        <div class="wrapper search-header_wrapper">
            <div class="search-header_top">
                <div class="brand">
                    <a href="/" class="brand"><img src="/static/images/pcf/top/logo_color.svg" alt=""></a>
                </div>
                <div class="search-header_left">
                    <nav class="nav-pc">
                        <ul class="menu-pc">
			    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                            <li><a href="/static/pdf/PubCaseFinder_manual_ja_v4.pdf"><i class="icon-question-circle-o"></i>Guides</a></li>
			    {% else %}
                            <li><a href="/static/pdf/PubCaseFinder_manual_en_v4.pdf"><i class="icon-question-circle-o"></i>Guides</a></li>
			    {% endif %}
                            <li><a href="/api"><i class="icon-wrench"></i>API</a></li>
                            <li><a href="/history"><i class="icon-history"></i>History</a></li>
                            <li><a href="/termsofservice"><i class="icon-doc-text-inv"></i>Terms</a></li>
                            <li><a href="/sources"><i class="icon-database"></i>Sources</a></li>
                            <li><a target="_blank" href="https://integbio.jp/rdf/dataset/pubcasefinder"><i class="icon-share"></i>RDF</a></li>
                            <li><a title="Comments & suggestions are welcome!" href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp"><i class="icon-mail-alt"></i>Contact</a></li>
                        </ul>
                    </nav>
                    <nav class="nav-sp">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#"><span class="material-icons">
                                        menu
                                    </span></a>
                                <ul class="sub-menu">
				    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                                    <li><a href="/static/pdf/PubCaseFinder_manual_ja_v4.pdf">Guides</a></li>
			            {% else %}
                                    <li><a href="/static/pdf/PubCaseFinder_manual_en_v4.pdf">Guides</a></li>
				    {% endif %}
                                    <li><a href="/api">API</a></li>
                                    <li><a href="/history">History</a></li>
                                    <li><a href="/termsofservice">Terms</a></li>
                                    <li><a href="/sources">Sources</a></li>
                                    <li><a target="_blank" href="https://integbio.jp/rdf/dataset/pubcasefinder">RDF</a></li>
                                    <li><a title="Comments & suggestions are welcome!" href="mailto:support@dbcls.rois.ac.jp,pubcasefinder@dbcls.rois.ac.jp">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!--span class="language"><a href="#">EN</a> / <a href="#"></a>JA</a></span-->
                    <span class="language"><a href="{{ request.path }}?lang=en">EN</a> / <a href="{{ request.path }}?lang=ja">JA</a></span>
                    <!--<div class="site-header_end">
                        <a class="button" href="#">Login<i class="material-icons">expand_more</i></a>
                    </div>-->
                </div>
            </div>
        </div>
    </header>

    <!--term page-->
    <div class="term-wrapper">
        <section class="content">
            <h1>Terms of Service for PubCaseFinder</h1>
	    {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
            <h3><a href="/termsofservice?lang=en">English version</a> of this document is also available.</h3>
	    {% else %}
            <h3><a href="/termsofservice?lang=ja">Japanese version</a> of this document is also available.</h3>
	    {% endif %}

            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>「PubCaseFinder サービス」ご利用規約について</h4>
                <p>「PubCaseFinder
                    サービス」（以下、本サービス）はライフサイエンス統合データベースセンター（以下、DBCLS）が国立研究開発法人科学技術振興機構バイオサイエンスデータベースセンターとの共同研究開発の一環として提供するデータベースホスティングサービスです。本サービスをご利用頂くためには、本サービスご利用規約（以下、本規約）に同意いただき、本規約を遵守していただく必要があります。本規約の適用範囲は本サービスを利用する一切の場合とします。
                </p>
		{% else %}
		<h4>ACCEPTANCE OF TERMS OF SERVICE</h4>
		<p>
		PubCaseFinder service (referred to below as the "Service") is a database hosting service, offered by the Database Center for Life Science (referred to below as "DBCLS") and supported by the Life Science Database Integration Project funded by the Japan Science and Technology Agency. In order to use the Service, you must agree and acknowledge to be bound by the Terms of Service for PubCaseFinder (referred to below as the "Terms"). Any use of the Service shall be subject to the Terms.
		</p>
		{% endif %}
            </div>
            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>規約の変更</h4>
                <p>DBCLSは本サービスのユーザの了解を必要とすることなく、本規約を変更できるものとします。 本規約の変更は本サービス提供サイト内において表示された時点から有効となり、
                    ユーザは本サービスの利用を継続する限り、変更後の規約に同意したものとします。</p>
		{% else %}
		<h4>MODIFICATIONS TO TERMS OF SERVICE</h4>
		<p>
		    DBCLS shall be able to change the Terms without any consent of the user of the Service. Changes become effective when they are displayed in the website of the Service and the user is considered to have agreed to the Terms after the change as far as he/she continues to use the Service.
		</p>
		{% endif %}
            </div>
            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>著作権について</h4>
                <p>「ライフサイエンス統合データベースセンター」のサイト（以下、DBCLSサイト）の<a
                        href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「著作権について」に準ずるものとします。</p>
		{% else %}
		<h4>COPYRIGHT</h4>
		<p>
		    For information about Copyright, please read the term "Copyright" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
		</p>
		{% endif %}
            </div>
            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>免責事項</h4>
                <p>本サービスは医学的判断に使用しない情報提供を目的とした、医学教科書その他参考資料を参照するための検索を行うプログラムです。薬機法に基づく承認を受けた医療機器ではないため、検索の結果についてはそのことを考慮に入れて使用してください。本サービスが提供する疾患リストまたそれに付随する情報は、全希少・遺伝性疾患の一部の情報であることに注意してください。本サービスを用いて医師の助言なしに医学的判断を下すべきではありません。本サービスは検索システムとして誠実にデータを提供しますが、データの正確性、臨床的妥当性または有用性を検証することはありません。DBCLSは、明示的にも黙示的にも、データの使用に関して、法的責任を含む一切の責任を負うものではありません。DBCLSは、本サービスの変更、中断、または終了により被った損害に関しても、一切の責任を負うものではありません。また、DBCLSサイトの<a
                        href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「免責事項」にも準ずるものとします。
                </p>
		{% else %}
		<h4>DISCLAIMER</h4>
		<p>
		    The PubCaseFinder is intended to be used by qualified and licensed physicians to assist in the research about rare and genetic diseases and for use as a teaching aid. The PubCaseFinder should not be used to make medical decisions without the advice of a physician. PubCaseFinder provides data in good faith as a investigative tool, but without verifying the accuracy, clinical validity or utility of the data. PubCaseFinder makes no warranty, express or implied, nor assumes any legal liability or responsibility for any purpose for which the data are used. DBCLS shall bear no liability with respect to damages incurred by the change, discontinuation or termination of the Service.
		</p>
		{% endif %}
            </div>
            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>プライバシー・ポリシー</h4>
                <p>DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「個人情報」に準ずるものとします。</p>
		{% else %}
		<h4>PRIVACY POLICY</h4>
		<p>
		    For information about Privacy Policy, please read the term "Personal Information" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
		</p>
		{% endif %}
            </div>
            <div class="rules-wrap">
	        {% if get_locale() == "ja" or get_locale() == "ja_JP" %}
                <h4>禁止事項</h4>
                <p>DBCLSサイトの<a href="https://dbcls.rois.ac.jp/policy.html">サイトポリシー</a>内「禁止事項」に準ずるものとします。</p>
		{% else %}
		<h4>PROHIBITED USES</h4>
		<p>
		    For information about Prohibited Uses, please read the term "Prohibited Uses" in <a href="https://dbcls.rois.ac.jp/policy-en.html">the Site Policies</a> of the DBCLS website.
		</p>
		{% endif %}
            </div>

        </section>
    </div>

    </section>
    </div>
</body>

<!-- START: Common header and footer -->
<script type="text/javascript" src="/static/common-header-and-footer/script/common-footer.js" id="common-footer__script"></script>
<script type="text/javascript"
    src="https://dbcls.rois.ac.jp/DBCLS-common-header-footer/v2/script/common-header-and-footer.js"
    style="display: block" id="common-header-and-footer__script" data-width="976" data-color="mono"></script>
<!-- END: Common header and fotter -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</html>
