
<h1>J-STAGE</h1>


<script type="module" src="https://togostanza.github.io/metastanza/pagination-table.js" async></script>

<style>
  togostanza-pagination-table {
    --togostanza-tbody-font-size: 12px;
    --togostanza-background-color: #ffffff;
  }
</style>

<togostanza-pagination-table
  data-url="https://pcf.dbcls.jp/pcf_get_case_report_by_mondo_id?mondo_id&#x3D;MONDO:0008752&amp;lang&#x3D;ja"
  data-type="json"
  custom-css-url=""
  width=""
  fixed-columns="1"
  padding="0px"
  page-size-option="10,20,50,100"
  page-slider="true"
  columns="[{&quot;id&quot;: &quot;pyear&quot;,&quot;label&quot;: &quot;Year&quot;},{&quot;id&quot;: &quot;title&quot;,&quot;label&quot;: &quot;Title&quot;},{&quot;id&quot;: &quot;journal&quot;,&quot;label&quot;: &quot;Journal&quot;},{&quot;id&quot;: &quot;url_img_jstage&quot;,&quot;escape&quot;: false,&quot;label&quot;: &quot;Go to J-STAGE&quot;},{&quot;id&quot;: &quot;url_img_jglobal&quot;,&quot;escape&quot;: false,&quot;label&quot;: &quot;Go to J-GLOBAL&quot;}]"
></togostanza-pagination-table>

<br>

<h1>PubMed</h1>

<script type="module" src="https://togostanza.github.io/metastanza/pagination-table.js" async></script>

<togostanza-pagination-table
  data-url="https://pcf.dbcls.jp/pcf_get_case_report_by_mondo_id?mondo_id&#x3D;{{ r_mondo_id }}&amp;lang&#x3D;en"
  data-type="json"
  padding="0"
  page-size-option="10,20,50,100"
  page-slider="false"
  columns="[{&quot;id&quot;:&quot;id&quot;,&quot;label&quot;:&quot;PMID&quot;,&quot;link&quot;:&quot;url&quot;},{&quot;id&quot;:&quot;pyear&quot;,&quot;label&quot;:&quot;Year&quot;},{&quot;id&quot;:&quot;title&quot;,&quot;label&quot;:&quot;Title&quot;}]"
></togostanza-pagination-table>

