@charset "UTF-8";
/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 24px;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  margin-left: 0.8em;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.contact {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  /*background: #1d1b31;*/
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.contact {
  width: 250px;
}

.sidebar li .contact-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.contact .name,
.sidebar li.contact .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.contact .job {
  font-size: 12px;
}

.sidebar .contact #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .contact #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/*nav*/
.nav-container {
  background-color: #cdd3e8;
  padding: 1em;
  display: block;
  margin: 0 auto;
  text-align: right;
}

.nav-container ul,
.nav-container li {
  list-style: none;
  -webkit-padding-start: 0;
}

.nav-container a {
  text-decoration: none;
}

.nav-item {
  padding: 1em;
  display: inline;
}

.nav-item-dropdown {
  position: relative;
}

.nav-item-dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.nav-item-dropdown .dropdown-menu {
  background-color: #fff;
  display: inline-block;
  text-align: right;
  position: absolute;
  right: -10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 160px;
  padding: 0;
  left: auto;
  text-align: left;
  box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
}

.nav-item-dropdown .dropdown-menu a {
  color: #11101d;
  outline: none;
  text-decoration: none;
}

.nav-item-dropdown .dropdown-menu .dropdown-menu-item {
  cursor: pointer;
  padding: 0.7em 1em;
  text-align: left;
}

.nav-item-dropdown .dropdown-menu .dropdown-selected,
.nav-item-dropdown .dropdown-menu .dropdown-menu-item:hover {
  background-color: #e4e5eb;
}

.nav-item-dropdown .dropdown-menu .dropdown-menu-item a i {
  padding-right: 0.7em;
}

.nav-item-dropdown .dropdown-explanation {
  box-shadow: none;
  background-color: #cdd3e8;
  right: 0;
  left: -440px;
  width: 30em;
  position: absolute;
  min-width: 100%;
  margin: 0;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item {
  display: inline-flex;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item i {
  color: #11101d;
  padding: 0.5em;
  border-radius: 40px;
  margin-right: 1em;
  margin: auto 0;
  background-color: #fff;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item span {
  margin-left: 1em;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item span p {
  font-size: 14px;
}

.nav-item-dropdown .dropdown-explanation:hover {
  background-color: #b5bcd6;
}

.dropdown-trigger {
  position: relative;
}

.dropdown-trigger i {
  font-size: 23px;
  margin-left: 0.5em;
}

.dropdown-trigger:focus + .dropdown-menu {
  display: block;
  opacity: 1;
}

/**/
#charts-patients,
#content-patients {
  background-color: #fff;
  border-radius: 10px;
  padding: 1em 1.5em;
  margin: 1em;
}

#charts-patients {
  display: block;
}

.chart-container {
  width: 250px;
}

#content-patients #home-menu {
  margin-bottom: 0.5em;
  display: flex;
}

#content-patients #home-menu .title {
  display: flex;
  align-items: center;
}

#content-patients #home-menu .title i {
  color: #fff;
  background-color: #11101d;
  padding: 0.5em;
  border-radius: 20px;
  font-size: 18px;
}

#content-patients #home-menu .title span {
  font-size: 17px;
  margin: 0 0 0 0.5em;
  white-space: nowrap;
}

#content-patients #home-menu .title h1 {
  font-size: 17px;
  white-space: nowrap;
  color: #ff8c00;
}

#content-patients #home-menu .right-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 0 0 auto;
}

#content-patients #home-menu .right-menu input {
  background-color: #F2F3F3;
  padding: 0.7em 1em;
  border-radius: 20px;
  width: 20em;
}

#content-patients #home-menu .right-menu span {
  padding: 0.5em;
}

#content-patients #home-menu .right-menu #table_menu {
  margin-left: 1em;
}

#content-patients #home-menu .right-menu #table_menu span {
  display: inline-flex;
  align-items: center;
}

#content-patients #home-menu .right-menu #table_menu #add-column {
  padding: 0.1em 1em;
  border: #c6c6c6 1px solid;
  border-radius: 20px;
  margin-left: 0.2em;
}

#content-patients #home-menu .right-menu #table_menu #add-column i {
  font-size: 20px;
}

#content-patients #home-menu .right-menu #table_menu #add-row {
  padding: 0.1em 1em;
  border: #c6c6c6 1px solid;
  border-radius: 20px;
  margin-left: 0.2em;
}

#content-patients #home-menu .right-menu #table_menu #add-row i {
  font-size: 20px;
}

#content-patients #home-menu .right-menu #table_menu li {
  display: inline-flex;
  align-items: center;
  background-color: #ff8c00;
  color: #fff;
  padding: 0.1em 1em;
  border-radius: 20px;
  margin-left: 0.2em;
}

#content-patients #home-menu .right-menu #table_menu li i {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1242px) {
  #content-patients #home-menu .right-menu #table_menu #add-column {
    padding: 0.8em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu #add-column span {
    display: none;
  }
  #content-patients #home-menu .right-menu #table_menu #add-row {
    padding: 0.8em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu #add-row span {
    display: none;
  }
  #content-patients #home-menu .right-menu #table_menu li {
    padding: 0.8em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu li span {
    display: none;
  }
}

#myGrid {
  background: #f5f5f5;
  min-height: 76vh;
}

.modal_content {
  top: 170px;
  right: 274px;
}

.home-section #content-patients #modal-karte {
  border: 0;
  padding: 0;
  border-radius: 20px;
  max-width: 100%;
}

.home-section #content-patients #modal-karte #modal-karte-button {
  position: absolute;
  top: -60px;
  right: 0;
}

.home-section #content-patients #modal-karte #modal-karte-button button {
  color: #000;
  padding: 0.7em;
  margin-left: 2px;
  display: inline-flex;
  border-radius: 5em;
}

.home-section #content-patients #modal-karte #modal-karte-button button span {
  width: 25px;
}

.home-section #content-patients #modal-karte #modal-karte-button .modal-close {
  background: #fff;
}

.home-section #content-patients #modal-karte #modal-karte-button .modal-close:hover {
  text-decoration: none;
  opacity: 0.6;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub {
  position: absolute;
  bottom: -50px;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button {
  color: #000;
  padding: 0.5em 1em;
  margin-left: 2px;
  display: inline-flex;
  border-radius: 5em;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button span {
  width: 25px;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button p {
  display: block;
  margin: auto 0;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button img {
  width: 20px;
  margin-right: 0.5em;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-copy {
  background: #fff;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-copy i {
  font-size: 20px;
  margin-right: 0.2em;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-copy:hover {
  text-decoration: none;
  opacity: 0.6;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-phenopackets {
  background: #fff;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-phenopackets i {
  font-size: 20px;
  margin-left: 0.2em;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub .modal-phenopackets:hover {
  text-decoration: none;
  opacity: 0.6;
}

.home-section #content-patients #modal-karte .tab-wrap {
  background-color: #fff;
  border-radius: 10px;
}

.home-section #content-patients #modal-karte .tab-wrap ul {
  display: flex;
  background: #F4F4F4;
  color: #000;
  border-radius: 11px 11px 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn-first {
  border-radius: 10px 0 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn-last {
  border-radius: 0 10px 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn {
  width: 50%;
  padding: 1em 0;
  text-align: center;
  list-style: none;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn i {
  font-size: 17px;
  vertical-align: -2px;
}

.home-section #content-patients #modal-karte .tab-wrap ul .show {
  background: #000;
  border-top: 2px solid #000;
  color: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .tab-contents {
  display: none;
  max-height: calc(100vh - 350px);
  overflow-y: scroll;
}

.home-section #content-patients #modal-karte .tab-wrap .show {
  display: block;
  padding: 1em 2em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr {
  min-height: 38px;
  z-index: 10;
  transform: translateY(0);
  background: #fff;
  box-shadow: 0 0 0 black;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr th {
  /*padding: 0.5em 0 0.5em 0;*/
  display: table-cell;
  vertical-align: middle;
  position: relative;
  font-weight: normal;
  color: #79839a;
  text-align: right;
  border-bottom: 1px solid #EDEDED;
  width: 7em;
  padding-right: 1em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr th span {
  color: #636463;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td {
  padding: 0.7em 0 0.7em 0;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #EDEDED;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td span {
  color: #888888;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td #bodyModal_add {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0.3em 0.9em;
  border-radius: 2em;
  background: #000;
  color: #fff;
  margin-bottom: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td #bodyModal_add i {
  margin-right: 0.2em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .tag {
  display: grid;
  border: solid 1px #B4B9D8;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 0.5em;
  width: fit-content;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .tag span {
  font-size: 0.5em;
  color: #000;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td label {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.1em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td label input {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td textarea {
  width: 100%;
  height: auto;
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td select {
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  appearance: button;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td input {
  width: 100%;
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .birth_year {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .death_year {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td ::placeholder {
  color: #e3e3e3;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap {
  display: flex;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap select {
  margin-left: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap #fixed-menu {
  padding: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  margin-left: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #relationship_td {
  display: flex;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr:first-child {
  padding-top: 0;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr:last-child {
  border-bottom: 0;
}

.home-section #content-patients #modal-karte .tab-wrap .show .treatment-table tbody tr th {
  width: 11em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .family-table tbody tr th {
  width: 12em;
}

/*mobile*/
@media screen and (max-width: 800px) {
  #modal-karte .tab-wrap ul .tab-btn i {
    font-size: 1.5em;
  }
  #modal-karte .tab-wrap ul .tab-btn span {
    display: none;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr th {
    display: block;
    width: 100%;
    border-bottom: none;
    border-top: none;
    padding: 1em 0 0.5em;
    text-align: left;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr td {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    border-top: none;
    padding: 0 0 1em 0;
  }
}

#menu_export:hover .export-panel {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

#menu_export .export-panel {
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 1.5em;
  border-radius: 5px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  color: #fff;
  width: 10em;
}

#menu_export .export-panel p {
  margin-bottom: 0.5em;
}

#menu_export .export-panel select {
  margin-bottom: 0.5em;
  border: 1px #fff solid;
  padding: 0.5em 1em;
  position: relative;
  border-radius: 0.5em;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#menu_export .export-panel button {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 0.5em 0.7em;
  border-radius: 1em;
  white-space: nowrap;
  opacity: 0.9;
  transition: all 0.3s ease;
}

#menu_export .export-panel button:hover {
  opacity: 0.6;
}
