

body {
  margin: 0;
  height: 100vh;
  height: -webkit-fill-available;
}

i {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 24px;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 10px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  margin-left: 0.8em;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  min-width: 60px;
  min-height: 50px;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 50px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  /*display: flex;*/
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
  margin: 0 auto;
  display: inline-grid;
}

.sidebar .sidebar-selected,
.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  /*opacity: 0;*/
  pointer-events: none;
  transition: 0.4s;
  font-size: 0.7em;
    font-weight: 500;
    margin: 0 auto;
    display: table;
    padding-bottom: 1em;
    margin-top: -8px;
}

.sidebar.open li a{
  margin: 0;
  display: inline-block;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  vertical-align: 6px;
  padding-bottom: auto;
}

.sidebar .sidebar-selected i,
.sidebar .sidebar-selected .links_name,
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  font-size: 22px;
  border-radius: 12px;
}

.sidebar li.contact {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  /*background: #1d1b31;*/
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.contact {
  width: 250px;
}

.sidebar li .contact-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.contact .name,
.sidebar li.contact .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.contact .job {
  font-size: 12px;
}

.sidebar .contact #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .contact #log_out {
  width: 50px;
  background: none;
}

.home-section {
  /*position: relative;*/
  position: fixed;
  background: #fff;
  min-height: 100vh;
  top: 24px;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/*nav*/
.common-nav-container {
  background-color: #f0f0f0;
  border-bottom: solid 1px #ddd;
  padding: 0.5em 1em;
  display: flex;
  margin: 0 auto;
  text-align: right;
  height: 60px;
}

.common-brand{
  display: block;
    max-width: 200px;
    min-width: 170px;
    margin: auto 0;
}

.nav-items{
  margin: auto 0 auto auto;
}



#nav-case{
  background-color: #f6f6f6;
  /*border-bottom: none;*/
}

.common-nav-container ul,
.common-nav-container li {
  list-style: none;
  -webkit-padding-start: 0;
}

.common-nav-container a {
  text-decoration: none;
}

.nav-item {
  display: inline;
}

.nav-item-dropdown {
  position: relative;
}

.nav-item-dropdown .dropdown-menu {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: -10px;
  top: 38px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 160px;
  padding: 0;
  left: auto;
  text-align: left;
  box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
}

.nav-item-dropdown .dropdown-menu-open {
  display: block;
  opacity: 1;
}

.nav-item-dropdown .dropdown-menu a {
  color: #11101d;
  outline: none;
  text-decoration: none;
}

.nav-item-dropdown .dropdown-menu .dropdown-menu-item {
  cursor: pointer;
  padding: 0.7em 1em;
  text-align: left;
}

.nav-item-dropdown .dropdown-menu .dropdown-selected,
.nav-item-dropdown .dropdown-menu .dropdown-menu-item:hover {
  background-color: #e4e5eb;
}

.nav-item-dropdown .dropdown-menu .dropdown-menu-item a i {
  padding-right: 0.7em;
}

.nav-item-dropdown .common-menu {
}

.nav-item-dropdown .common-menu .common-menu-wrap{
  position: relative;
  z-index: 1001;
  min-width: 15rem;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
}

.nav-item-dropdown #dropdown-language .dropdown-languag-wrap{
  position: relative;
  z-index: 1001;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);
  overflow: hidden;
}


.nav-item-dropdown .common-menu .common-menu-item {
  cursor: pointer;
  padding: 0.7em 0;
  text-align: center;
  display: table-cell;
  float: left;
  width: 33%;
}

.nav-item-dropdown .common-menu .common-menu-item:hover {
  background-color: #e4e5eb;
  border-radius: 0.5em;
}

.nav-item-dropdown .common-menu .common-menu-item a i {
  font-size: 1.7em;
  padding-right: 0;
}

.nav-item-dropdown .common-menu .common-menu-item a span {
  font-size: 0.8em;
  display: block;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.nav-item-dropdown .common-menu .dropdown-service {
  display: inline-block;
  margin-top: 0.5em;
  width: 100%;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #f4f4f4;
  padding: 0.5em;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item i {
  background: #f4f4f4;
  padding: 0.5em;
  height: fit-content;
  border-radius: 50px;
  margin-right: 0.5em;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item i img{
width: 35px;
}


.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item span {
  display: block;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item h4 {
  line-height: 1.2em;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item span p {
  font-size: 0.4em;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item:hover {
  background-color: #e4e5eb;
  border-top: 1px solid #ffffff;
}

.nav-item-dropdown .common-menu .dropdown-service .dropdown-menu-item:hover i {
  background: #fff;
}

.nav-item-dropdown .dropdown-explanation {
  box-shadow: none;
  background-color: #cdd3e8;
  right: 0;
  left: -440px;
  width: 30em;
  position: absolute;
  min-width: 100%;
  margin: 0;
  /*box-shadow: 0 2px 15px 1px rgba(163, 163, 163, 0.2);*/
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item {
  display: inline-flex;
  border-top: 1px solid #bdc3d8;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item i {
  color: #11101d;
  padding: 0.5em;
  border-radius: 40px;
  margin-right: 1em;
  margin: auto 0;
  background-color: #fff;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item span {
  margin-left: 1em;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item span p {
  font-size: 14px;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item:hover {
  background-color: #cdd3e8;
}

.nav-item-dropdown .dropdown-explanation .dropdown-menu-item:first-child {
  border-top: 1px solid #cdd3e8;
}

.dropdown-trigger {
  position: relative;
  border: solid 1px #ddd;
  padding: 0.5em 1em;
  border-radius: 2em;
  /* margin: 2em 0em; */
  display: inline-block;
  color: #37405b;
}

.dropdown-trigger:hover{
  border: solid 1px #fff;
  background: #fff;
  color: #007bff;
}

.dropdown-trigger i {
  font-size: 23px;
  vertical-align: -6px;
  /*border: solid 1px #ddd;
  padding: 0.5em;
  border-radius: 2em;*/
}

/* .dropdown-trigger:focus + .dropdown-menu {
  display: block;
  opacity: 1;
} */

/**/
#content-patients {
  background-color: #fff;
  border-radius: 10px;
  height: 80vh;
}

#content-patients #home-menu {
  display: flex;
  padding: 0.2em 1em;
  height: 55px;
}

#content-patients #home-menu .title {
  display: flex;
  align-items: center;
}

#content-patients #home-menu .title .person_icon {
  color: #fff;
  background-color: #11101d;
  padding: 0.3em;
  border-radius: 20px;
  font-size: 18px;
}

#content-patients #home-menu .title span {
  font-size: 17px;
  margin: 0 0 0 0.5em;
  white-space: nowrap;
}


#content-patients #home-menu .title h1 {
  font-size: 17px;
  white-space: nowrap;
  color: #ff8c00;
}

#content-patients #home-menu .right-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 0 0 auto;
}

#content-patients #home-menu .right-menu input {
  width: 20em;
}

#content-patients #home-menu .right-menu span {
  padding: 0.3em;
  cursor:pointer;
}

#content-patients #home-menu .right-menu #reset {
  transition: 0.2s;
  display: block;
  margin-right: 1em;
  margin-top: 7px;
}

#content-patients #home-menu .right-menu #hot-redo{
  transition: 0.2s;
}

#content-patients #home-menu .right-menu #hot-undo{
  transition: 0.2s;
}

#content-patients #home-menu .right-menu #reset:hover{
  opacity: 0.5;
}

#content-patients #home-menu .right-menu #hot-redo:hover{
  opacity: 0.5;
}

#content-patients #home-menu .right-menu #hot-undo:hover{
  opacity: 0.5;
}

#content-patients #home-menu .right-menu #table_menu {
  margin-left: 1em;
  white-space: nowrap;
}

#content-patients #home-menu .right-menu #table_menu span {
  display: inline-flex;
  align-items: center;
}

#content-patients #home-menu .right-menu #table_menu #add-column {
  padding: 0.1em 1em;
  border: #c6c6c6 1px solid;
  border-radius: 20px;
  margin-left: 0.2em;
  cursor:pointer;
  transition: 0.2s ;
}
#content-patients #home-menu .right-menu #table_menu #add-column:hover {
  opacity: 0.8;
  border: #ebebeb 1px solid;
  background: #ebebeb;
}

/* #content-patients #home-menu .right-menu #table_menu #add-column i {
  font-size: 20px;
} */

#content-patients #home-menu .right-menu #table_menu #add-row {
  padding: 0.1em 1em;
  border: #c6c6c6 1px solid;
  border-radius: 20px;
  margin-left: 0.2em;
  cursor:pointer;
  transition: 0.2s ;
}

#content-patients #home-menu .right-menu #table_menu #add-row:hover {
  opacity: 0.8;
  border: #ebebeb 1px solid;
  background: #ebebeb;
}

#content-patients #home-menu .right-menu #table_menu #add-row:focus {
  outline: none;
}

.list-icon {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.list-column {
  background-image: url("../images/png/list-column.png");
}

.list-row {
  background-image: url("../images/png/list-row.png");
}

.list-edit {
  background-image: url("../images/png/list-edit.png");
}

.list-delete {
  background-image: url("../images/png/list-delete.png");
}

#content-patients #home-menu .right-menu #table_menu li {
  display: inline-flex;
  align-items: center;
  background-color: #ff8c00;
  color: #fff;
  padding: 0.1em 1em;
  border-radius: 20px;
  margin-left: 0.2em;
  cursor:pointer;
  transition: 0.2s ;
}

#content-patients #home-menu .right-menu #table_menu li:hover{
  background-color: #ff7000;
  /*transform:scale(1);
  transition:1s all;*/
}

#content-patients #home-menu .right-menu #table_menu li i {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1242px) {
  #content-patients #home-menu .right-menu #table_menu #add-column {
    padding: 0.65em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu #add-column span {
    display: none;
  }
  #content-patients #home-menu .right-menu #table_menu #add-row {
    padding: 0.65em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu #add-row span {
    display: none;
  }
  #content-patients #home-menu .right-menu #table_menu li {
    padding: 0.65em;
    border-radius: 40px;
  }
  #content-patients #home-menu .right-menu #table_menu li span {
    display: none;
  }
}

/* #myGrid {
  min-height: 81vh;
} */



.modal_content .modal_container{
  height: 70vh;
}

.home-section #content-patients {
  /*モーダル*/
}

.home-section #content-patients #modal-karte {
  border: 0;
  padding: 0;
  border-radius: 20px;
  max-width: 100%;
}

.home-section #content-patients #modal-karte #modal-karte-button {
  position: absolute;
  top: -60px;
  right: 0;
}

.home-section #content-patients #modal-karte #modal-karte-button button {
  color: #000;
  padding: 0.7em;
  margin-left: 2px;
  display: inline-flex;
  border-radius: 5em;
}

.home-section #content-patients #modal-karte #modal-karte-button button span {
  width: 25px;
}

.home-section #content-patients #modal-karte #modal-karte-button .modal-close {
  background: #fff;
}

.home-section #content-patients #modal-karte #modal-karte-button .modal-close:hover {
  text-decoration: none;
  /*opacity: 0.6;*/
}

.home-section #content-patients #modal-karte #modal-karte-button-sub {
  position: absolute;
  bottom: -50px;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button {
  color: #000;
  padding: 0.5em 1em;
  margin-left: 2px;
  display: inline-flex;
  border-radius: 5em;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button span {
  width: 25px;
}

.home-section #content-patients #modal-karte #modal-karte-button-sub button p {
  display: block;
  margin: auto 0;
}


.modal-copy {
  background: #fff;
  padding: 0.3em 1em;
}

.modal-copy i {
  font-size: 20px;
  margin-right: 0.2em;
}

.modal-copy:hover {
  text-decoration: none;
  opacity: 0.6;
}

.modal-phenopackets {
  background: #fff;
  padding: 0.3em 1em;
}

.modal-phenopackets img{
  width: 20px;
  margin-right: 0.5em;
}

.modal-phenopackets i {
  font-size: 20px;
  margin-left: 0.2em;
}

.modal-phenopackets:hover {
  text-decoration: none;
  opacity: 0.6;
}

.home-section #content-patients #modal-karte .tab-wrap {
  background-color: #fff;
  border-radius: 10px;
}

.home-section #content-patients #modal-karte .tab-wrap ul {
  display: flex;
  background: #F4F4F4;
  color: #000;
  border-radius: 11px 11px 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn-first {
  border-radius: 10px 0 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn-last {
  border-radius: 0 10px 0 0;
}

.home-section #content-patients #modal-karte .tab-wrap ul .tab-btn {
  width: 50%;
  padding: 1em 0;
  text-align: center;
  list-style: none;
}

/* .home-section #content-patients #modal-karte .tab-wrap ul .tab-btn i {
  font-size: 17px;
  vertical-align: -2px;
} */

.home-section #content-patients #modal-karte .tab-wrap ul .show {
  background: #000;
  border-top: 2px solid #000;
  color: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .tab-contents {
  display: none;
  max-height: calc(100vh - 350px);
}

.home-section #content-patients #modal-karte .tab-wrap .show {
  display: block;
  padding: 1em 2em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr {
  min-height: 38px;
  z-index: 10;
  transform: translateY(0);
  background: #fff;
  box-shadow: 0 0 0 black;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr th {
  /*padding: 0.5em 0 0.5em 0;*/
  display: table-cell;
  vertical-align: middle;
  position: relative;
  font-weight: normal;
  color: #79839a;
  text-align: right;
  border-bottom: 1px solid #EDEDED;
  width: 7em;
  padding-right: 1em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr th span {
  color: #636463;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td {
  padding: 0.7em 0 0.7em 0;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid #EDEDED;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td span {
  color: #888888;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td #bodyModal_add {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0.3em 0.9em;
  border-radius: 2em;
  background: #000;
  color: #fff;
  margin-bottom: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td #bodyModal_add i {
  margin-right: 0.2em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .tag {
  display: grid;
  border: solid 1px #B4B9D8;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 0.5em;
  margin-right: 0.5em;
  width: fit-content;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .tag span {
  font-size: 0.5em;
  color: #000;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td label {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.1em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td label input {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td textarea {
  width: 100%;
  height: auto;
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td select {
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  appearance: button;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td input {
  width: 100%;
  padding: 0.35em 0.5em;
  border: 1.5px solid #e3e3e3;
  border-radius: 0.3em;
  background: #fff;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .birth_year {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td .death_year {
  width: auto;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr td ::placeholder {
  color: #e3e3e3;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap {
  display: flex;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap select {
  margin-left: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #group_wrap #fixed-menu {
  padding: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 30px;
  margin-left: 0.5em;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr #relationship_td {
  display: flex;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr:first-child {
  padding-top: 0;
}

.home-section #content-patients #modal-karte .tab-wrap .show .form-table tbody tr:last-child {
  border-bottom: 0;
}

/* .home-section #content-patients #modal-karte .tab-wrap .show .treatment-table tbody tr th {
  width: 11em;
} */

/* .home-section #content-patients #modal-karte .tab-wrap .show .family-table tbody tr th {
  width: 12em;
} */

/*mobile*/
/* @media screen and (max-width: 800px) {
  #modal-karte .tab-wrap ul .tab-btn i {
    font-size: 1.5em;
  }
  #modal-karte .tab-wrap ul .tab-btn span {
    display: none;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr th {
    display: block;
    width: 100%;
    border-bottom: none;
    border-top: none;
    padding: 1em 0 0.5em;
    text-align: left;
  }
  #modal-karte .tab-wrap .show .form-table tbody tr td {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    border-top: none;
    padding: 0 0 1em 0;
  }
} */

#modal-karte .tab-wrap .show .form-table tbody tr #body-table-td table thead tr th{
  display: revert;
  padding: 0;
  text-align: center;
  /* border-top: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}
#modal-karte .tab-wrap .show .form-table tbody tr #body-table-td table tbody tr th{
  display: revert;
  padding: 0;
  text-align: center;
  /* border-top: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}
#modal-karte .tab-wrap .show .form-table tbody tr #body-table-td table tbody tr td{
  display: revert;
  /* border-top: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}

#menu-save .save-panel {
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  opacity: 0;
  padding: 1.5em;
  border-radius: 5px;
  display: block;
  pointer-events: none;
}


#menu-save .save-panel-open {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}


#menu-save .save-panel .save-format {
  display: flex;
  align-items: center;
}



#menu-save .save-panel .save-format p {
  white-space: nowrap;
  margin-right: 0.5em;
  display: block;
  color: #fff;
}

#menu-save .save-panel .save-format select {
  border: 1px #fff solid;
  padding: 0.4em 1em;
  position: relative;
  border-radius: 0.5em;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#menu-save .save-panel button {
  background: #fff;
  color: #000;
  font-size: 15px;
  padding: 0.5em 0.7em;
  border-radius: 20px;
  white-space: nowrap;
  opacity: 0.9;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 1em;
}

#menu-save .save-panel button:hover {
  opacity: 0.6;
}

#charts-patients{
  margin: 2em auto;
  border: 1px solid;
  width: 95%;
  height: 80vh;
}

#charts-patients h1{
  margin-bottom: 1em;
}

.chart-container {
  /* padding: 2em; */
  margin-bottom: 2em;
  display: inline-flex;
  position: relative;
  height: 30%;
  width: 40%;
}

.chart-container canvas{
  margin: 0 auto;
  background: #ccc;
  width: 90% !important;
}


#modal-info {
  background: #fff;
  border: none;
  border-radius: 12px;
  padding: 2em 4em 3em;
}

#modal-info .modal-karte-button-sub ul li{
  display: flex;
  align-items: center;
  padding: 1em 0;
}

#modal-info .modal-karte-button-sub ul li i{
  background: #f4f4f4;
  padding: 0.5em;
  height: fit-content;
  border-radius: 1em;
  margin-right: 0.5em;
}

#modal-info .modal-karte-button-sub ul li span{
  display: block;
}

#modal-info .modal-karte-button-sub ul li span h4{
  text-align: left;
  font-size: 1.1em;
}

#modal-info #modal-info-button{
  margin-top: 2em;
}

#modal-info #modal-info-button span{
  background: #11101D;
  color: #fff;
  padding: 0.7em 3em;
  border-radius: 3em;
}


#tbody_familyInfo tr td details{
display: grid;
}

#tbody_familyInfo tr td details summary label{
  margin-left: 0;
  padding: 0;
}

#tbody_familyInfo tr td details summary::marker{
color: #007bff;
width: 10px;
}

#tbody_familyInfo tr td details label{
  margin-left: 3em;
  padding: 0;
}

#sporadic{
  margin-left: 9px;
}

#autosomal_recessive_inheritance{
  margin-left: 9px;
}

#mitochondrialx_inheritance{
  margin-left: 9px;
}


.p006_year{
  margin-right: 0.5em;
}

.p008_year{
  margin-right: 0.5em;
}


.search_wrap span{
  pointer-events:none;
}


.pika-lendar{
  width: fit-content;
}

.pika-title{
  display: flex;
}

.pika-lendar #pika-title-hy span{
  vertical-align: 6px;
  font-size: 1.5em;
  color: #ff8c00;
}

.pika-label{
  position: relative;
  display: inline-block;
  padding-left: 22px;
  color: #11101D;
  text-decoration: none;
  padding-right: 1em;
  font-weight: normal;
}

.pika-label:before {
  content: '';
  width: 18px;
  height: 18px;
  background: #c9c9c9;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
}
.pika-label:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -4px;
}

.wtHolder::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
.wtHolder::-webkit-scrollbar-track {
  background: #fff;
}
.wtHolder::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}


.pika-ok{
  padding: 3px 5px;
  background-color: #ff8c00;
  color: #fff;
  border-radius: 5px;
  margin: auto 0;
}


#search-result-count{
  display: block;
  margin: auto 0;
}